name: Test Spidynal Action

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  test-spidynal:
    runs-on: windows-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Run Spidynal Action - Net Speed
        uses: ./
        with:
          command: "net speed"

      - name: Run Spidynal Action - Spidy Lens
        uses: ./
        with:
          command: "spidy lens"
